#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  display: flex;
  
}

form {
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 20px;
}

form input{
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

form button {
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.my-todo{
  display: flex;
  margin: 20px auto;
  padding: 6px 20px;
  background-color: #393838;
  font-size: 15px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border: 0;
  border-radius: 15px
  
}

.my-todo .del-btn {
  padding: 6px 6px;
  font-size: 18px;
  border: 0;
  color: #393838;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}